:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --gris: #757575;
  --principal: #ffc107;
}

html {
  	font-size: 62.5%;
  	box-sizing: border-box;
}

body {
	font-size: 16px; /*1rem = 10px*/
	text-align: center;
 	padding: 1rem 3rem;
  	margin-top: 15rem;
  	text-transform: uppercase;
  	background: var(--gris);
}

label {
	color: var(--oscuro);
	font-weight: bold;
}

input[type="number"]{
	border-radius: 0.5rem;
	border-color: var(--oscuro);
	margin-bottom: 1rem;
}

input[type="submit"]{
	padding: 0.5rem;
	width: 100%;
	text-transform: uppercase;
	font-size: 1.8rem;
	font-weight: bold;
	border-radius: 0.5rem;
	border-color: var(--oscuro);
	background: var(--principal);
	cursor: pointer;
	margin-bottom: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.la {
	
}